@use '../../../../../../styles/variables' as *;

.delete-button--container {
  width: fit-content;
  padding: $spacing-xs $spacing-sm;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $spacing-xs;
  border-radius: 10px;
  border: 1.5px $grey-400 solid;
  background-color: transparent;
  color: $grey-400;
  font-weight: 500;
  font-size: 0.9rem;
}

.action-button--bin-icon path {
  fill: $grey-400;
  stroke: $grey-400;
}
