@use 'variables' as *;

:host {
  background-color: white;
  height: 100%;
  padding: calc($spacing-sm * 1.2) $spacing-md;
  border-radius: 5px;
}

.weekly-sales-comparison--container {
  width: 500px;
}
