@use "variables" as *;

.browse-categories--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: calc($spacing-md - $spacing-xs);
}

.categories--container-short {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: calc($spacing-xl - $spacing-xs);
}

.categories--container-long {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.browse-categories--container app-button {
  align-self: center;
  margin-top: $spacing-xs
}
