@use 'variables' as *;

:host {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
  row-gap: $spacing-sm;
}

.cart-page-container--container {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-xl;
}

@media (max-width: 1024px) {
  .cart-page-container--container {
    flex-direction: column;
    row-gap: $spacing-lg;
  }
}
