@use "variables" as *;

.large-button--container {
  background-color: $secondary-500;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 1.3rem;
  letter-spacing: -5%;
}

.large-button--container:hover {
  background-color: $secondary-600;
}
