<div class="home-intro--container">
<!--  <app-navbar></app-navbar>-->
  <div class="home-intro--text">
    <h1>
      <span>Your</span>
      <span>Everyday</span>
      <span class="home-intro--shopping-text">
        <p>Shopping</p>
        <div class="blue-highlight-box"></div>
      </span>
      <span>Destination</span>
    </h1>

    <h5>Everything you need, all in one place</h5>

    <app-button
      buttonText="Shop now"
      [buttonClickCallback]="handleShopClick"
    ></app-button>
  </div>

</div>
