@use "variables" as *;

.button--container {
  background-color: $secondary-500;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  letter-spacing: -5%;
}

.button--container:hover {
  background-color: $secondary-700;
}

.large-button {
  font-size: 1.3rem;
  padding: 8px 12px;
}

.small-button {
  font-size: 1.15rem;
  padding: 6px 10px;
}


/* CUSTOM BUTTONS */
.sign-in-up--button {
  padding: $spacing-xxs $spacing-sm;
  font-size: 1rem;
  font-weight: 300;
}

.cart-total--button {
  margin-top: $spacing-sm;
}
