@use "variables" as *;

* {
  box-sizing: border-box;
  transition: background-color 0.15s ease-in, color 0.15s ease-in, fill 0.15s ease-in, stroke 0.15s ease-in;
}

body {
  font-family: $primary-font;
  color: $primary-text;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: $background-color;
}

p {
  margin: 0;
}

// Header Styling
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  margin: 0;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
  letter-spacing: 0.15rem;
}

h1, h2 {
  font-weight: $h1-h2-weight;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

h6 {
  font-size: $h6-size;
}

h4 {
  font-weight: $h4-weight;
}

h5, h6 {
  font-weight: $h5-h6-weight;
}

button,
a,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

button {
  font-family: $primary-font;
}

footer {
  margin-top: calc($spacing-xxl * 2);
}

input {
  border: none;
  background-color: $grey-100;
  border-radius: 5px;
  color: $grey-600;
  outline-color: $secondary-500;
  font-family: $primary-font;
  padding: $spacing-xs $spacing-sm;
  width: 100%;
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Small Screens */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
