@use 'global' as *;
@use 'variables' as *;

.page--container {
  padding: $spacing-xxl;
  margin-top: 100px;
}

.error-input {
  border: 1.5px $error-red solid;
}

.error-text {
  font-weight: 400;
  color: $error-red;
  font-size: 0.9rem;
  margin: 0;
}
