@use 'global' as *;
@use 'variables' as *;

.page--container {
  padding: $spacing-lg;
  margin-top: 70px;
}

.error-input {
  border: 1.5px $error-red solid;
}

.error-text {
  font-weight: 400;
  color: $error-red;
  font-size: 0.9rem;
  margin: 0;
}

.flip-horizontal {
  transform: rotate(-180deg);
}

.flip-vertical {
  transform: scaleY(-1);
}

.position-relative {
  position: relative;
}

.opacity-0 {
  opacity: 0;
}

.admin-pages {
  display: flex;
  height: 100%;
  //width: 80%;
  //margin-left: 20%;
  background-color: $primary-100;
  padding: $spacing-lg;
}

.ag-header-cell-label {
  justify-content: center;
}

.ag-paging-panel {
  font-family: $primary-font;
}

.ag-cell-focus:not(.ag-cell-range-selected):focus-within {
  border-color: $secondary-500 !important;
  outline: none;
}
