@use 'global' as *;
@use 'variables' as *;

.page--container {
  padding: $spacing-lg;
  margin-top: 70px;
}

.error-input {
  border: 1.5px $error-red solid;
}

.error-text {
  font-weight: 400;
  color: $error-red;
  font-size: 0.9rem;
  margin: 0;
}

.flip-horizontal {
  transform: rotate(-180deg);
}

.position-relative {
  position: relative;
}
