@use 'variables' as *;

:host {
  flex-grow: 1;
}

.cart-items--header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  column-gap: $spacing-sm;
  background-color: $primary-300;
  padding: $spacing-sm;
  border-radius: 5px;
}

.cart-items--header h5 {
  text-transform: uppercase;
  font-weight: 500;
}

.cart-item--big-cell {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $spacing-sm;
}

.cart-item--cell {
  width: 16.67%;
}

.cart-item--small-cell {
  width: 70px;
}

.cart-item--rest-cell {
  flex-grow: 1;
  align-items: center;
}

.cart-items--products {
  padding: 0 $spacing-sm $spacing-sm;
}

//.cart-item--small-cell {
//  width: 10%;
//}
