@use 'variables' as *;

:host {
  display: flex;
  flex-direction:  row;
  align-items: center;
  column-gap: $spacing-xs;
  cursor: pointer;
}

svg {
  width: 30px;
  height: 30px;
}

path {
  fill: $primary-500;
}

.sort--text {
  color: $primary-500;
}

.sort--icon:hover path {
  fill: $primary-700;
}

.sort--text:hover {
  color: $primary-700;
}

.sort-popup--container {
  position: absolute;
  top: calc($spacing-lg - $spacing-sm);
  right: 0;
  background-color: white;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sort-popup--container p {
  padding: $spacing-xs $spacing-lg;
  cursor: pointer;
}

.sort-popup--container p:hover,
.sort-popup--selected-p {
  background-color: $secondary-200 !important;
}

.sort--icon {
  width: 24px;
  height: 24px;
}

.sort--icon path {
  fill: $primary-500;
  stroke-width: 0.25px;
  stroke: $primary-500;
}
