@use 'variables' as *;

:host {
  padding: $spacing-xs $spacing-sm;
  border: 2px $grey-200 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
