@use 'variables' as *;

:host {
  padding: $spacing-xs $spacing-sm;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $spacing-sm;
  width: 80%;
}

.product-search-bar--filter-sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $spacing-sm;
}
