@use 'variables' as *;

.product-box--container {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-xs;
  width: 250px;
  align-self: flex-start;
}

.product-box--img-container {
  padding: $spacing-sm;
  background-color: $grey-100;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-box--img-container img {
  width: 220px;
  height: auto;
}

.background-white {
  background-color: white !important;
}

.product-box--img-container img {
  max-height: 230px;
}

.product-box--info {
  width: 100%;
  text-wrap: wrap;
}

.product-box--product-price {
  color: $grey-500
}

.product-box--product-name {
  font-weight: 500;
}

.product-box--img-container:hover {
  background-color: $grey-200;
  cursor: pointer;
}

.product-box--info:hover {
  color: $secondary-600;
  cursor: pointer;
}


@media (max-width: 960px) {
  .product-box--img-container img {
    width: 200px;
  }

  .product-box--img-container {
    height: 220px;
  }
}

@media (max-width: 640px) {
  .product-box--container {
    width: 200px;
  }

  .product-box--img-container img {
    width: 150px;
    max-height: 200px;
  }

  .product-box--img-container {
    height: 200px;
  }
}

@media (max-width: 547px) {
  .product-box--container {
    width: 160px;
  }

  .product-box--img-container img {
    width: 150px;
    max-height: 180px;
  }

  .product-box--img-container {
    height: 180px;
  }
}

@media (max-width: 400px) {
  .product-box--container {
    width: 130px;
  }

  .product-box--img-container img {
    width: 120px;
    max-height: 150px;
  }

  .product-box--img-container {
    height: 150px;
  }
}
