@use 'variables' as *;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  column-gap: $spacing-sm;
  text-align: center;
  border-bottom: 1px $grey-300 solid;
  cursor: pointer;
}

:host:hover {
  background-color: $primary-100;
}

.cart-item--big-cell {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $spacing-sm;
}

.cart-item--big-cell p {
  flex-grow: 1;
}

.cart-item--cell {
  width: 16.67%;
}

.cart-item--img-container {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item--img {
  width: 80px;
  height: auto;
}

.cart-item--eye-icon,
.cart-item--bin-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.cart-item--eye-icon path,
.cart-item--eye-icon circle {
  stroke: $secondary-500;
  stroke-width: 32px;
}

.cart-item--bin-icon {
  fill: $secondary-500;
}

.cart-item--eye-icon:hover path,
.cart-item--eye-icon:hover circle {
  stroke: $secondary-700;
}

.cart-item--bin-icon:hover {
  fill: $secondary-700;
}

.cart-item--icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $spacing-xs;
  justify-content: center;
}

.cart-item--small-cell {
  width: 70px;
}
