@use "../../../../../styles/variables" as *;

.navbar-search--container {
  width: 290px;
  border-radius: 20px;
  background-color: $grey-200;
  padding: $spacing-xxs $spacing-sm;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px $grey-100 solid;
}

.navbar-search--container:focus-within {
  border-color: $secondary-400;
}

.navbar-search--container input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: $primary-font;
  width: 100%;
  font-size: 0.9rem;
  color: $grey-700;
  padding-right: 7px;
  padding-left: 0;
}
