<div class="sign-in-up--container">
  <div class="sign-in-up--info">
    <h2>Welcome Back!</h2>
    <h6>We're glad to see you again. Check out our new products!</h6>
  </div>

  <div class="sign-in-up--form-container">
    <h3>Enter Your Info</h3>

    <form class="sign-in-up--form" [formGroup]="signInForm">
      <div class="sign-in-up--form-row">
        <input
          type="text"
          placeholder="Username"
          name="credential"
          formControlName="username"
          [ngClass]="error !== '' ? 'error-input' : ''"
        />
      </div>
      <div class="sign-in-up--form-row">
        <input
          type="password"
          placeholder="Enter your password"
          name="password"
          formControlName="password"
          [ngClass]="error !== '' ? 'error-input' : ''"
        />
        <p
          *ngIf="error !== '' ? 'error-text' : ''"
          class="error-text"
        >
          {{ error }}
        </p>
        <p class="sign-in-up--switch-p">
          <span>Don't have an account? </span>
          <a href="/sign-up">Sign Up</a>
        </p>
      </div>
    </form>

    <app-button
      buttonSize="small"
      buttonText="Sign In"
      buttonClass="sign-in-up--button"
      (onButtonClickCallback)="handleLogin()"
    >
    </app-button>
  </div>
</div>
