@use 'variables' as *;

.overview-page--container {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-lg;
}

.admin-overview--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 370px;
  justify-content: space-between;
  width: 100%;
}
