@use "variables" as *;

.home-intro--container {
  padding: $spacing-sm $spacing-lg;
}

.home-intro--text h1 {
  display: flex;
  flex-direction: column;
}

.home-intro--text {
  display: flex;
  flex-direction: column;
  row-gap: calc($spacing-sm + $spacing-xs);
  margin-bottom: $spacing-sm;
}

.home-intro--shopping-text {
  position: relative;
  width: fit-content;
}

.blue-highlight-box {
  background-color: $primary-500;
  height: 58px;
  width: 100%;
  position: absolute;
  top: 0;
  transform: rotate(-2deg);
  z-index: -1;
  box-sizing: content-box;
  padding: 6px;
  left: -6px;
}
