@use "variables" as *;

:host {
  border: 2px $primary-text solid;
  border-right: none;
  border-left: none;
  background-color: $primary-200;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl;
  column-gap: $spacing-xxl;
}

@media (max-width: 767px) {
  :host {
    column-gap: $spacing-lg;
    padding: $spacing-lg $spacing-md;
  }
}

@media (max-width: 640px) {
  :host {
    flex-direction: column;
    align-items: flex-start;
    row-gap: $spacing-lg;
  }
}
