@use "variables" as *;

:host {
  border: 2px $primary-text solid;
  border-right: none;
  border-left: none;
  background-color: $primary-200;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl;
  column-gap: $spacing-xxl;
}
