@use "variables" as *;

.home-page--container {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-xl;
}

.section--padding {
  padding: $spacing-xl;
}

@media (max-width: 520px) {
  .section--padding {
    padding: $spacing-md;
  }
}
