<div class="sign-in-up--container">
  <div class="sign-in-up--form-container">
    <h3>Create Your Account</h3>

    <form class="sign-in-up--form" [formGroup]="signUpForm">
      <div class="sign-in-up--form-row">
        <input
          type="text"
          placeholder="Email"
          name="email"
          formControlName="email"
        />
      </div>
      <div class="sign-in-up--form-row">
        <input
          type="text"
          placeholder="Phone Number"
          name="phone"
          formControlName="phone"
        />
      </div>
      <div class="sign-in-up--form-row">
        <input
          type="password"
          placeholder="Password"
          name="password"
          formControlName="password"
        />
      </div>
      <div class="sign-in-up--form-row">
        <input
          type="password"
          placeholder="Confirm Password"
          name="confirm-pass"
          formControlName="confirmPassword"
        />
        <p class="sign-in-up--switch-p">
          <span>Already have an account? </span>
          <a href="/sign-in">Sign In</a>
        </p>
      </div>
    </form>

    <app-button
      buttonSize="small"
      buttonText="Sign Up"
      buttonClass="sign-in-up--button"
    >
    </app-button>
  </div>

  <div class="sign-in-up--info">
    <h2>Welcome!</h2>
    <h6>We're excited to see you. Check out our products!</h6>
  </div>
</div>
