<h2>New Arrivals</h2>

<div class="new-arrivals--container">
  <div class="new-arrivals--img big-img">
    <img
      [src]="newArrivalsArr[0]"
      class="new-arrivals--pic"
    />
  </div>
  <div class="new-arrivals--img md-img">
    <img
      [src]="newArrivalsArr[1]"
      class="new-arrivals--pic"
    />
  </div>
  <div class="new-arrivals--img sm-img">
    <img
      [src]="newArrivalsArr[2]"
      class="new-arrivals--pic"
    />
  </div>
  <div class="new-arrivals--img sm-img">
    <img
      [src]="newArrivalsArr[3]"
      class="new-arrivals--pic"
    />
  </div>
</div>
