@use '../../../../../../styles/variables' as *;

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 100%;
  width: 50%;
  padding: calc($spacing-sm * 1.2) $spacing-md calc($spacing-sm * 1.2) $spacing-lg;
  border-radius: 5px;
}

.customers-pie--text {
  //width: min-content;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-sm;
}

.customers-pie--text p {
  color: $grey-600;
}

:host apx-chart {
  align-self: center;
  margin-right: calc(-1 * $spacing-md)
}
