@use "variables" as *;

.footer--container,
.footer--legalities {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer--container {
  row-gap: $spacing-xl;
  padding: $spacing-lg;
  background-color: $primary-500;
  position: relative;
  bottom: 0;
}

.footer--info,
.footer--legalities-info,
.footer--links,
.footer--socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer--socials {
  width: 150px;
  justify-content: space-between;
}

.footer--socials svg:first-child {
  // facebook icon
  margin: -7px;
}

.footer--links {
  column-gap: $spacing-md;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer--socials svg {
  color: $primary-text;
  cursor: pointer;
}

.footer--links a {
  text-decoration: none;
  color: $primary-text;
  font-weight: 500;
}

.footer--links a:hover {
  color: $secondary-600;
}

.footer--info {
  justify-content: space-between;
}

.footer--legalities-info {
  justify-content: center;
}

.footer--info,
.footer--legalities,
.footer--legalities hr,
.footer--legalities-info {
  width: 100%;
}

.footer--legalities hr {
  height: 1.1px;
  border: none;
  background-color: $primary-text;
  margin-bottom: $spacing-md;
}

.footer--legalities-info {
  align-self: center;
  column-gap: $spacing-lg;
}

.footer--legalities-info a {
  color: $primary-text;
}

.footer--legalities-info a:hover {
  color: $grey-800;
}

.footer--info h5 {
  font-weight: 500;
}

@media (max-width: 950px) {
  .footer--links {
    position: static;
    transform: none;
  }
}

@media (max-width: 720px) {
  .footer--links {
    position: static;
    transform: none;
  }

  .footer--info {
    flex-direction: column;
    row-gap: $spacing-md;
  }

  .footer--socials {
    width: 200px;
  }
}

.footer--legalities-info p {
  grid-area: right;
}

.footer--legalities-info a:nth-child(1) {
  grid-area: link1;
}

.footer--legalities-info a:nth-child(2) {
  grid-area: link2;
}

.footer--legalities-info a:nth-child(3) {
  grid-area: link3;
}

@media (max-width: 470px) {
  .footer--links {
    display: none;
  }

  .footer--legalities-info {
    display: grid;
    grid-template-areas:
      "link1 link2 link3"
      "right right right"
    ;
    place-items: center;
    row-gap: $spacing-sm;
  }

  .footer--legalities-info p {
    text-align: center;
  }
}
